In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\VICTUS\Desktop\E-commerce custmer segmemtation\data - data.csv")

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_1916\2889073162.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\VICTUS\Desktop\E-commerce custmer segmemtation\data - data.csv")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C537581,S,SAMPLES,-1,12/7/2010 12:03,12.95,NaN,United Kingdom
1,C537581,S,SAMPLES,-1,12/7/2010 12:03,52.00,NaN,United Kingdom
2,C544580,S,SAMPLES,-1,2/21/2011 14:25,5.74,NaN,United Kingdom
3,C544580,S,SAMPLES,-1,2/21/2011 14:25,11.08,NaN,United Kingdom
4,C544580,S,SAMPLES,-1,2/21/2011 14:25,5.79,NaN,United Kingdom

In [4]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
# We are here dropping the null values of Description and customer ID as it wont make be right treating it mode and mean respectively
df = df.dropna()

In [7]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [8]:
df.duplicated().sum()

5225

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.duplicated().sum()

0

In [11]:
df.shape

(401604, 8)

In [12]:
#Checking for Data types

df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [13]:
# Changing the Data types for InvoiceDate, CustomerID 

# df['Description'] = df['Description'].astype('str')
df['InvoiceDate'] = df['InvoiceDate'].astype('datetime64[ns]')
df['CustomerID'] = df['CustomerID'].astype('int')

In [14]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int32
Country                object
dtype: object

In [15]:
df['Quantity'].describe()

count    401604.000000
mean         12.183273
std         250.283037
min      -80995.000000
25%           2.000000
50%           5.000000
75%          12.000000
max       80995.000000
Name: Quantity, dtype: float64

In [16]:
# Qunatity cannot be lesser than or equal to zero. So we are imputing with the 75% values thats in the dataset
df.loc[df['Quantity'] < 0, 'Quantity'] =12

In [17]:
df['Quantity'].describe()

count    401604.000000
mean         13.128231
std         179.571521
min           1.000000
25%           2.000000
50%           6.000000
75%          12.000000
max       80995.000000
Name: Quantity, dtype: float64

In [18]:
df['UnitPrice'].describe()

count    401604.000000
mean          3.474064
std          69.764035
min           0.000000
25%           1.250000
50%           1.950000
75%           3.750000
max       38970.000000
Name: UnitPrice, dtype: float64

In [19]:
# UnitPrice cannot be zero so we are treating it using mean. 
df.loc[df['UnitPrice'] == 0, 'UnitPrice'] = 3.4

# NLP Text Preprocessing:
## 1.Tokenization
## 2.Lowercasing
## 3.Removing ounctuations
## 4.Stopword removal
## 5.Lemmatization

In [20]:
#Lets first create a new column so that all the Preprocessing work done from the description column gets reflected

df['NLP_description'] = df['Description'].str.replace('[^A-Za-z]', ' ')

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_1916\942631823.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['NLP_description'] = df['Description'].str.replace('[^A-Za-z]', ' ')

In [21]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,NLP_description
198942,577723,22983,CARD BILLBOARD FONT,12,2011-11-21 12:36:00,0.42,16713,United Kingdom,CARD BILLBOARD FONT
135049,579556,23302,KNEELING MAT HOUSEWORK DESIGN,3,2011-11-30 11:17:00,1.65,17835,United Kingdom,KNEELING MAT HOUSEWORK DESIGN
426323,578270,21899,GARAGE KEY FOB,1,2011-11-23 13:39:00,1.63,14096,United Kingdom,GARAGE KEY FOB
483544,577869,21232,STRAWBERRY CERAMIC TRINKET POT,4,2011-11-22 11:34:00,1.25,13268,United Kingdom,STRAWBERRY CERAMIC TRINKET POT
19890,576597,85049A,TRADITIONAL CHRISTMAS RIBBONS,12,2011-11-15 14:57:00,1.25,14194,United Kingdom,TRADITIONAL CHRISTMAS RIBBONS
511403,545649,20981,12 PENCILS TALL TUBE WOODLAND,2,2011-03-04 13:14:00,0.85,14995,United Kingdom,PENCILS TALL TUBE WOODLAND
223160,575972,22867,HAND WARMER BIRD DESIGN,2,2011-11-13 13:01:00,2.10,14499,United Kingdom,HAND WARMER BIRD DESIGN
423300,537050,21912,VINTAGE SNAKES & LADDERS,1,2010-12-05 11:10:00,3.75,14800,United Kingdom,VINTAGE SNAKES LADDERS
146608,C579883,23254,CHILDRENS CUTLERY DOLLY GIRL,12,2011-11-30 17:32:00,4.15,14194,United Kingdom,CHILDRENS CUTLERY DOLLY GIRL
516842,561583,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,6,2011-07-28 10:33:00,2.95,13813,Germany,SET RED RETROSPOT LID GLASS BOWLS

In [22]:
df.shape

(401604, 9)

In [23]:
df['NLP_description'] = df['NLP_description'].str.lower()

In [24]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,NLP_description
437224,562551,21794,CLASSIC FRENCH STYLE BASKET NATURAL,3,2011-08-05 16:19:00,3.95,17231,United Kingdom,classic french style basket natural
93769,546321,47566,PARTY BUNTING,4,2011-03-11 09:39:00,4.95,16475,United Kingdom,party bunting
460289,563210,21533,RETROSPOT LARGE MILK JUG,6,2011-08-14 12:27:00,4.95,16466,United Kingdom,retrospot large milk jug
453432,546104,21627,ELEPHANT CARNIVAL POUFFE,1,2011-03-09 12:19:00,14.95,14527,United Kingdom,elephant carnival pouffe
113143,579012,23427,STOOL HOME SWEET HOME,1,2011-11-28 09:43:00,12.50,15511,United Kingdom,stool home sweet home
192705,559674,23004,TRAVEL CARD WALLET PANTRY,3,2011-07-11 14:16:00,0.42,15856,United Kingdom,travel card wallet pantry
295450,542372,22570,FELTCRAFT CUSHION RABBIT,4,2011-01-27 13:37:00,3.75,13078,United Kingdom,feltcraft cushion rabbit
435417,576213,21818,GLITTER HEART DECORATION,72,2011-11-14 12:47:00,0.39,18117,United Kingdom,glitter heart decoration
278488,570591,22632,HAND WARMER RED RETROSPOT,12,2011-10-11 11:35:00,2.10,17071,United Kingdom,hand warmer red retrospot
361346,543507,22252,BIRDCAGE DECORATION TEALIGHT HOLDER,2,2011-02-09 10:49:00,1.25,15039,United Kingdom,birdcage decoration tealight holder

In [25]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [26]:
# Function created for removing stop words.
def stopwords_removal(text):
    stopwords_list = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stopwords_list]
    return ' '.join(filtered_words)

In [27]:
df['NLP_description'] = df['NLP_description'].apply(stopwords_removal)

In [28]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,NLP_description
419143,557222,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2011-06-17 13:14:00,2.08,14936,Channel Islands,jumbo bag pink vintage paisley
123382,568591,23350,ROLL WRAP VINTAGE SPOT,12,2011-09-28 10:39:00,1.25,17088,United Kingdom,roll wrap vintage spot
146210,559698,23255,CHILDRENS CUTLERY CIRCUS PARADE,2,2011-07-11 17:07:00,4.15,17589,United Kingdom,childrens cutlery circus parade
336646,555654,22384,LUNCH BAG PINK POLKADOT,10,2011-06-06 14:13:00,1.65,18236,United Kingdom,lunch bag pink polkadot
497198,573576,21154,RED RETROSPOT OVEN GLOVE,1,2011-10-31 14:09:00,2.46,14096,United Kingdom,red retrospot oven glove
332609,576067,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2011-11-13 15:48:00,2.08,14227,United Kingdom,jumbo shopper vintage red paisley
31170,555841,84596B,SMALL DOLLY MIX DESIGN ORANGE BOWL,2,2011-06-07 12:47:00,0.42,14583,United Kingdom,small dolly mix design orange bowl
143101,580436,23280,FOLDING BUTTERFLY MIRROR HOT PINK,12,2011-12-04 12:17:00,0.83,13318,United Kingdom,folding butterfly mirror hot pink
533079,542914,20711,JUMBO BAG TOYS,3,2011-02-01 16:03:00,1.95,16161,United Kingdom,jumbo bag toys
206437,544789,22960,JAM MAKING SET WITH JARS,6,2011-02-23 12:25:00,4.25,13993,United Kingdom,jam making set jars

In [29]:
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet


lemmatizer = WordNetLemmatizer()
def nltk_tag_to_wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None
         
def lemmatize_sentence(sentence):
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  
    wordnet_tagged = map(lambda x: (x[0], nltk_tag_to_wordnet_tag(x[1])), nltk_tagged)
    lemmatized_sentence = []
    for word, tag in wordnet_tagged:
        if tag is None:
            lemmatized_sentence.append(word)
        else:        
            if tag == wordnet.NOUN:
              lemmatized_sentence.append(lemmatizer.lemmatize(word, tag))
            
    return " ".join(lemmatized_sentence)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\VICTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
df['NLP_description'] = df['NLP_description'].apply(lambda x: lemmatize_sentence(x))

In [ ]:
df.sample(10)

In [ ]:
df1 = df["NLP_description"].drop_duplicates() #dropping duplicates from the description data
df1 = pd.DataFrame(df1).reset_index(drop = True)
df1.head(10)

In [ ]:
df1.isnull().sum()

In [ ]:
df.sample(5)

In [ ]:
from nltk import FreqDist

all_words = ' '.join([text for text in df1['NLP_description']])
all_words = all_words.split()
words_df = FreqDist(all_words)
words_df = pd.DataFrame({'word':list(words_df.keys()), 'count':list(words_df.values())})
words_df
words_df = words_df.nlargest(columns="count", n = 30) 
words_df.sort_values('count', inplace = True)

import matplotlib.pyplot as plt
fig = plt.figure(figsize=(20, 10))
fig.patch.set_facecolor('lightgray')
ax = plt.barh(words_df['word'], width = words_df['count'], color = 'brown')

In [ ]:
pip install wordcloud

In [ ]:
# Creating a word cloud
from wordcloud import WordCloud
all_words = ' '.join([text for text in df['NLP_description']])


wordcloud = WordCloud(width = 800, height = 800,
                      background_color ='black',
                      min_font_size = 10).generate(all_words)

plt.figure(figsize = (5, 5), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad = 0)
plt.show()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
x = vectorizer.fit_transform(df1['NLP_description'])
vocabulary = vectorizer.get_feature_names_out()
bow_array = x.toarray()

In [ ]:
bow_array

In [ ]:
df2 = pd.DataFrame(bow_array, columns = vocabulary )

In [ ]:
df2.sample(5)

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

scaler = StandardScaler()
X_scaled = scaler.fit_transform(bow_array)

list_k = list(range(1, 25))
inertias = []
for k in list_k:
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X_scaled)
    inertias.append(kmeans.inertia_)

In [ ]:
plt.figure(figsize=(15,8))
plt.plot(list_k, inertias, '-o')
plt.xlabel(r'Number of clusters')
plt.ylabel('Sum of squared distance')

In [ ]:
kmeans = KMeans(n_clusters=18)
kmeans.fit(X_scaled)

centroids = kmeans.cluster_centers_

In [ ]:
import numpy as np
np.unique(kmeans.labels_)

In [ ]:
label = kmeans.fit_predict(X_scaled)  
print(label)

In [ ]:
unique_labels = np.unique(label)
centroids = kmeans.cluster_centers_

In [ ]:
unique_labels

In [ ]:
centroids

In [ ]:
# plt.figure(figsize=(15, 10)) 
# for i in label:
#     plt.scatter(X_scaled[label == i , 0] , X_scaled[label == i , 1] , label = i)
# # plt.scatter(centroids[:,0] , centroids[:,1] , s = 100, c = 'k')
# plt.legend()
# plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Iterate through unique labels and plot data points and centroids
plt.figure(figsize=(10, 6))

for unique_label in unique_labels:
    # Filter data points for the current label
    data_points = X_scaled[label == unique_label]
    
    # Plot data points for the current label
    plt.scatter(data_points[:, 0], data_points[:, 1], label=f'Label {unique_label}')

    # Plot the centroid for the current label
    centroid = centroids[unique_label]
    plt.scatter(centroid[0], centroid[1], s=100, c='k', marker='x', label=f'Centroid {unique_label}')

plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Scatter Plot of Clusters and Centroids')
plt.show()

In [ ]:
plt.figure(figsize=(8, 6))
for i in unique_labels:
    plt.scatter(X_scaled[:, 0], X_scaled[:, 1], cmap='viridis', s=50, alpha=0.5, label=i)

plt.scatter(centroids[:, 0], centroids[:, 1], c='k', s=200, label='Centroids')

plt.title('K-Means Clustering')
plt.legend()
plt.show()

In [ ]:
labels_df = pd.DataFrame(kmeans.labels_)

In [ ]:
labels_df

In [ ]:
labels_df.shape

In [ ]:
df1

In [ ]:
df1 = df1.reset_index(drop = True)

In [ ]:
newdf = df1.join(labels_df)
print(newdf.shape)
newdf

In [ ]:
DF = pd.merge(df, newdf, how='left', on='NLP_description') #merging data frame

In [ ]:
DF.sample(5)

In [ ]:
df['NLP_description'].duplicated().sum()

In [ ]:
DF.drop('StockCode', axis = 1, inplace = True)

In [ ]:
DF

In [ ]:
DF.rename(columns = {0:'clusters'}, inplace = True)

In [ ]:
DF

In [ ]:
one_hot=pd.concat([DF, pd.get_dummies(DF["clusters"])],axis=1)

In [ ]:
one_hot

In [ ]:
DF['clusters'].unique()

In [ ]:
grouping_by_customerid = one_hot.groupby(['CustomerID']).mean()

In [ ]:
grouping_by_customerid

In [ ]:
df_new = one_hot.drop(columns = ['InvoiceDate', 'NLP_description' , 'Description'], axis = 1)

In [ ]:
df_new = df_new.reset_index(drop = True)

In [ ]:
df_new

In [ ]:
#Label encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoding = LabelEncoder()
encoding_country = label_encoding.fit_transform(df_new['Country'])

encoded_country_df = pd.DataFrame(encoding_country,columns=['New_country'])

In [ ]:
encoded_country_df

In [ ]:
encoded_country_df['New_country'].unique()

In [ ]:
# merging the encoded_country_df and df_new

df_new = pd.concat([df_new,encoded_country_df],axis=1)

In [ ]:
df_new

In [ ]:
df_new = df_new.drop(columns = ['Country', 'clusters'])

In [ ]:
df_new

In [ ]:
df_new_1 = df_new.groupby('CustomerID').mean()
df_new_1=df_new_1.reset_index(drop=True)

In [ ]:
df_new_1

In [ ]:
# encoding customer id

label_encoding_1 = LabelEncoder()
encoding_customerid_df = label_encoding_1.fit_transform(df_new['CustomerID'])
df_new_2 = pd.DataFrame(encoding_customerid_df,columns=['New_customer_id'])

In [ ]:
df_new_2

In [ ]:
df_new_2=df_new_2.reset_index(drop=True)

df_new_2 = df_new_2.drop_duplicates()

df_new_2=df_new_2.reset_index(drop=True)

In [ ]:
df_new_3 = pd.concat([df_new_2,df_new_1], axis = 1)

In [ ]:
df_new_3

In [ ]:
values = df_new_3.values

In [ ]:
standard_scaler = StandardScaler()
X = standard_scaler.fit_transform(values)

inertias = []

k_range = list(range(1,30))

from sklearn.cluster import KMeans
for k in k_range:
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X)
    inertias.append(kmeans.inertia_)

plt.figure(figsize=(10, 6))
plt.plot(k_range, inertias, '-o')
plt.xlabel(r'Number of clusters')
plt.ylabel('Inertia')

In [ ]:
kmeans = KMeans(n_clusters=22)
kmeans.fit(X)

customers=pd.DataFrame(kmeans.labels_,columns=['customer'])
customers

In [ ]:
# merging the encoded customer_id and the customer label
df_new_4 = pd.concat([df_new_2['New_customer_id'],customers],axis=1)

In [ ]:
df_new_4

In [ ]:
import plotly.express as px
fig=px.scatter(df_new_4, x='New_customer_id',y='customer')
fig.show()

In [ ]:
centroids = kmeans.cluster_centers_
label=kmeans.fit_predict(X)
labels = np.unique(label)
 
#plotting the results:

plt.figure(figsize=(10, 5)) 
for i in labels:
    plt.scatter(X[label == i , 0] , X[label == i , 1] , label = i)
plt.scatter(centroids[:,0] , centroids[:,1] , s = 100, color = 'k')
plt.legend()
plt.show()